.App {
  text-align: center;
  padding: 2em;
  background: lightyellow;
}

.container {
  background: rgb(189, 247, 171);
  padding: 1em;
}

.btn {
  width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
}
